<div class="recipe-form ">
  <h1 class="text-center">レシピを投稿する</h1>

  <%= form_with model: @recipe, local: true do |f| %>
    
    <div class="form-group">
      <label class="text-secondary">料理名</label><br>
      <%= f.text_field :title, class: "form-control"%>
    </div>

    <div class="form-group">
      <label class="text-secondary">画像</label><br>
      <%= f.file_field :recipe_image %>
    </div>

    



    <div class="form-group">
      <label class="text-secondary">作り方</label><br>
      <%= f.text_area :body, class: "form-control", id: "recipe-area" %>
    </div>
    
    <div class="actions">
      <%= f.submit "投稿", class: "btn btn-primary de-btn" %>
    </div>
  <% end %>
</div>