



<div class="container mt-5">
  <div class="row">
    <div class="item-title col-8">
      <h3 class="item-title col-8">新作メニュー</h3>
       <%= form_with model: @recipe, :url => recipes_path, local:true do |f| %>
        <div class="form-group row">
            <%= f.label :name, 'メニュー名' %><br/>
            <%= f.text_field :name, class: "form-control" %>
          </div>
        
          <div class="field mb-4">
            <%= f.label :serve, '分量' %>
            <%= f.select :serve, options_for_select((1..10).to_a)%>人前
          </div>
        
         <div class="form-group mb-4">
            <%= f.label :cooking_time, '調理時間' %>
            <%= f.select :cooking_time, Recipe.cooking_times.keys, {prompt: "Select"} %>
          </div>
       
       
       　　<div class="form-group mb-4">
            <%= f.label :genre_id, 'メニュージャンル' %><br/>
             <td class="select_field"><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
          </div>

          <div class="form-group mb-4">
            <%= f.label :image, '完成写真' %><br/>
            <%= f.file_field :image, accept: "image/*" %>
          </div>

          <div class="form-group mb-4">
            <%= f.label :ingredient, '材料' %>
            <%= f.text_area :ingredient, id: :ingredient, class: "form-control" %>
            <trix-editor input="ingredient"></trix-editor>
          </div>

          <div class="form-group mb-4">
            <%= f.label :method, '作り方' %>
            <%= f.text_area :method, id: :method, class: "form-control", id: "recipe-area" %>
            <trix-editor input="method"></trix-editor>
          </div>

         

          <div class="form-group mb-4">
            <%= f.label :memo, '一口メモ' %>
            <%= f.text_field :memo, id: :memo, class: "form-control" %>
          </div>

         
        <div class="create-btn">
          <%= f.submit '投稿する', class: "btn btn-primary" %>
        </div>
    　</div>
    </div>
   <% end %>
　</div>
</div>

