<div class="container mt-5">
  <%= link_to "Back", recipes_path, class:"btn btn-sm btn-primary"%>

  <div class="row">
    <div class="recipe-headding mb-3 ml-3">
      <h1><%= @recipe.name %></h1>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-5">
      <%= link_to recipe_path(@recipe.id) do %>
       
      <% end %>
    </div>

    <div class="col-md-3 my-3 my-md-0">
      <div class="recipe-ingredients">
        <h3>材料</h3>
          <%= sanitize @recipe.ingredient, tags:%w(strong em p br div ul ol li) %>
      </div>
    </div>

    <!--詳細-->
    <div class="col-md-4">
      <div class="recipe-details">
        <div class="recipe-detail-serves">
          <span class="detail">
            <%= @recipe.serve%>人分
          </span>
        </div>

        <div class="recipe-detail-serves">
          <span class="detail">
            <i class="fas fa-clock"></i>
          </span>
          <%= @recipe.cooking_time %>
        </div>

        

       
        <div class="memo mb-4">
          <h4>メモ</h4>
            <%= sanitize @recipe.memo, tags:%w(strong em p br div ul ol li) %>
        </div>

       

      <%= link_to "", edit_recipe_path, class:"fas fa-edit btn btn-lg btn-primary" %></td>
      <%= link_to "", recipe_path(@recipe),method: :delete, class:"fas fa-trash btn btn-lg btn-primary", "data-confirm" =>"本当に消しますか?" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="method mb-3">
        <h3>作り方</h3>
          <%= sanitize @recipe.method, tags:%w(strong em p br div ul ol li) %>
      </div>
    </div>
  </div>
</div>

<!--トップに戻るボタン-->
<span id="back">
  <a href="#">
    <i class="fas fa-arrow-circle-up arrow"></i>
  </a>
</span>