<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h3>My page</h3>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-8">
      <h4>プロフィール</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>プロフィール画面</th>
            <td><%= image_tag @user.get_profile_image(100,100) %></td>
          </tr>
          <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <% if @user.id == current_user.id %>
            <th>Email</th>
            <td><%= @user.email %></td>
          </tr>
          
           <tr>
             <th>プロフィール</th>
             <th><%= @user.profile_id %></th>
            </tr>
            <% end %>
        </thead>
      </table>
    
    
      <h4>データ</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>総レシピ数</th>
            <td><%= @all_recipes_count%></td>
            
          </tr>
          <tr>
            <th>お気に入りレシピ数</th>
            <td><%= @favorite_recipes_count %></td>
          </tr>
        </thead>
      </table>
    </div>
 
<th>Follows</th>
      <td>
        <%= link_to follower_user_path(@user) do %>
          <h6><%= @user.followers.count %></h6>
        <% end %> 
      </td>
      </tr>
      <tr>  
        <th>Followers</th>
        <td>  
          <%= link_to followers_user_path(@user) do %>
            <h6><%= @user.followeds.count %></h6>
          <% end %>
        </td>
      </tr> 
      <tr>
      
 
<div class="container mt-5">
   <div class="row">
    <div class="col-md-12">
    <% if @user == current_user %>
      <%= link_to '情報を編集する', edit_user_path, class: "btn btn-sm btn-primary" %>
    <% end %>
   </div>
  </div>

</div>
</div>