<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h3>My page</h3>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-8">
      <h4>プロフィール</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>名前</th>
            <td><%= current_user.name %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= current_user.email %></td>
          </tr>
          
           <tr>
             <th>プロフィール</th>
             <th><%= @user.profile_id %></th>
            </tr>
        </thead>
      </table>
    
    
    
    
      <h4>データ</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>総レシピ数</th>
            <td><%= @all_recipes_count%></td>
          </tr>
          <tr>
            <th>お気に入りレシピ数</th>
            <td><%= @favorite_recipes_count %></td>
          </tr>
        </thead>
      </table>
    </div>
    


    

<div class="container mt-5">
   <div class="row">
    <div class="col-md-12">
    <% if @user == current_user %>
      <%= link_to '情報を編集する', edit_user_path, class: "btn btn-sm btn-primary" %>
    <% end %>
   </div>
  </div>
</div>