<!DOCTYPE html>
<html>
  <head>
    <title>レトロレシピ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
   
   <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script src="https://kit.fontawesome.com/2a6ca15603.js" crossorigin="anonymous"></script>
   
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>

  <body>

    <header>
     <%= render 'layouts/search' %>
     
      <%= render 'layouts/header' %>
      

      
      
    </header>

  </body>
</html>